<div ng-include="'navigation.html'"></div>
<div class="row">
    <div class="col-md-12">
        <h2>Classes</h2>
        <ul>
            <li ng-repeat="item in list"><a href="#!/class/{{item.id}}">{{item.name}}</a></li>
        </ul>
    </div>
</div>
