<div ng-include="'navigation.html'"></div>
<div class="row">
    <div class="col-md-12">
        <h2>Class {{obj.name}}</h2>
        <ul>
            <li ng-repeat="item in obj.students"><a href="#!/student/{{item.id}}">{{item.first_name}} {{item.last_name}}</a></li>
        </ul>
    </div>
</div>

