<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">School</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/classes">Classes</a></li>
                <li><a href="#!/students">Students</a></li>
            </ul>
        </div>
    </div>
</nav>

