<div ng-include="'navigation.html'"></div>
<div class="row">
    <div class="col-md-12">
        <h2>Students</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>Average GPA</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" ng-model="first_name"></td>
                    <td><input type="text" ng-model="last_name"></td>
                    <td></td>
                    <td><button class="btn btn-default" ng-click="search()">Search</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="student in students">
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.average_gpa}}</td>
                    <td><a href="#!/student/{{student.id}}">Open</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

