<div ng-include="'navigation.html'"></div>
<div class="row">
    <div class="col-md-12">
        <h2>Student</h2>
        <dl>
            <dt>First Name</dt>
            <dd>{{student.first_name}}</dd>
            <dt>Last Name</dt>
            <dd>{{student.last_name}}</dd>
            <dt>Email</dt>
            <dd>{{student.email}}</dd>
            <dt>Average GPA</dt>
            <dd>{{student.average_gpa}}</dd>
        </dl>
        <h3>Classes</h3>
        <ul>
            <li ng-repeat="item in student.classes"><a href="#!/class/{{item.id}}">[GPA: {{item._pivot_gpa}}] {{item.name}}</a></li>
        </ul>
    </div>
</div>

